{% include 'overall_header.html' %}

<a id="maincontent"></a>

{% if S_ADD_SLIDE or S_EDIT_SLIDE %}
	{% include 'alter_slideshow.html' %}
{% else %}

	<h1>{{ lang('ACP_MANAGE_SLIDES_TITLE') }}</h1>
	
	{% if S_TAMIT_SLIDESHOW_MODE_TOPICS == 1 %}
		<div class="errorbox">
			<h3>{{ lang('WARNING') }}</h3>
			<p>{{ lang('SLIDE_SETTINGS_NOT_AFFECTED') }}</p>
		</div>
	{% endif %}
	
	<table class="table1 zebra-table fixed-width-table">
		<thead>
			<tr>
				<th style="width: 50%;">{{ lang('SLIDE_TITLE') }}</th>
				<th>{{ lang('SLIDE_STATUS') }}</th>
				<th>{{ lang('ACTION') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for list in [
				{
					'loop': loops.slides,
					'allow_enable': true
				}
			] %}
				{% if list.loop %}
					{% for slide in list.loop %}
						<tr>
							<td><strong>{{ slide.TITLE }}</strong></td>
							<td class="actions">
								{% if list.allow_enable %}
									<a href="{{ slide.U_ENABLE }}" title="{{ lang('SLIDE_ENABLE_TITLE', slide.S_ENABLED) }}" data-ajax="toggle_enable">
										{% if slide.S_ENABLED %}{{ lang('ENABLED') }}{% else %}{{ lang('DISABLED') }}{% endif %}
									</a>
								{% else %}
									{{ lang('DISABLED') }}
								{% endif %}
							</td>
							<td class="actions">
								<span class="up-disabled" style="display:none;">{ICON_MOVE_UP_DISABLED}</span>
								<span class="up"><a href="{{ slide.U_MOVEUP }}" data-ajax="row_up">{ICON_MOVE_UP}</a></span>
								<span class="down-disabled" style="display:none;">{ICON_MOVE_DOWN_DISABLED}</span>
								<span class="down"><a href="{{ slide.U_MOVEDOWN }}" data-ajax="row_down">{ICON_MOVE_DOWN}</a></span>
								<a href="{{ slide.U_EDIT }}">{{ ICON_EDIT }}</a> <a href="{{ slide.U_DELETE }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>
							</td>
						</tr>
					{% endfor %}
				{% elseif not loops.slides and loop.last %}
					<tr>
						<td colspan="3" style="text-align: center;">{{ lang('ACP_SLIDES_EMPTY') }}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>

	<form id="acp_tamit_slideshow_quick_add" method="post" action="{{ U_ACTION_ADD }}">
		<fieldset class="quick">
			<a href="{{ U_ACTION_FIX_POSITIONS }}" data-ajax="true">{{ lang('ACP_SLIDES_FIX_POSITION') }}</a>
			<input class="button2" type="submit" value="{{ lang('ACP_SLIDES_ADD') }}" />
			{{ S_FORM_TOKEN }}
		</fieldset>
	</form>

{% endif %}

{% include 'overall_footer.html' %}
